[submodule "zabbix/templates/zabbix-misp"]
	path = zabbix/templates/zabbix-misp
	url = https://github.com/JanSkalny/zabbix-misp.git
[submodule "zabbix/templates/zabbix-smartctl"]
	path = zabbix/templates/zabbix-smartctl
	url = https://github.com/JanSkalny/zabbix-smartctl.git
[submodule "zabbix/templates/zabbix-syslog-ng"]
	path = zabbix/templates/zabbix-syslog-ng
	url = https://github.com/JanSkalny/zabbix-syslog-ng.git
