
<Directory "/var/www/{{ www_domain }}">
  AllowOverride All
  Order Allow,Deny
  Allow from All
  Options SymLinksIfOwnerMatch

  <FilesMatch "\.php$">
    SetHandler "proxy:unix:/var/run/php-fpm-{{ www_user }}.sock|fcgi://localhost/"
  </FilesMatch>
</Directory>

<VirtualHost *:80>
  ServerName {{ www_domain }}
  DocumentRoot /var/www/{{ www_domain }}/

  ErrorLog /var/log/apache2/{{ www_domain }}_error.log
  CustomLog /var/log/apache2/{{ www_domain }}_access.log combined
</VirtualHost>

{% if www_domain_enable_ssl %}
<VirtualHost *:443>
  ServerName {{ www_domain }}
  DocumentRoot /var/www/{{ www_domain }}/

  ErrorLog /var/log/apache2/{{ www_domain }}_error.log
  CustomLog /var/log/apache2/{{ www_domain }}_access.log combined

  SSLEngine on
  SSLCertificateFile /etc/letsencrypt/live/{{ www_domain }}/cert.pem
  SSLCertificateKeyFile /etc/letsencrypt/live/{{ www_domain }}/privkey.pem
  SSLCertificateChainFile /etc/letsencrypt/live/{{ www_domain }}/fullchain.pem
</VirtualHost>
{% endif %}

