
<Directory "{{ www_domain_root | default('/var/www/{{ www_domain }}') }}">
  AllowOverride All
  Order Allow,Deny
  Allow from All
  Options SymLinksIfOwnerMatch

  <FilesMatch "\.php$">
  {% if www_domain_use_global_php %}
    SetHandler "proxy:unix:/run/php/php-fpm.sock|fcgi://localhost/"
  {% else %}
    SetHandler "proxy:unix:/run/php/php-fpm-{{ www_user }}.sock|fcgi://localhost/"
  {% endif %}
  </FilesMatch>
</Directory>

<VirtualHost *:80>
  ServerName {{ www_domain }}

  {% if www_domain_enable_ssl and www_domain_redirect_https %} 
  Redirect / https://{{ www_domain }}
  {% else %}
  DocumentRoot {{ www_domain_root | default('/var/www/{{ www_domain }}/') }}
  {% endif %}

  ErrorLog /var/log/apache2/{{ www_domain }}_error.log
  CustomLog /var/log/apache2/{{ www_domain }}_access.log combined
</VirtualHost>

{% if www_domain_enable_ssl %}
<VirtualHost *:443>
  ServerName {{ www_domain }}
  DocumentRoot {{ www_domain_root | default('/var/www/{{ www_domain }}/') }}

  ErrorLog /var/log/apache2/{{ www_domain }}_error.log
  CustomLog /var/log/apache2/{{ www_domain }}_access.log combined

  SSLEngine on
  SSLCertificateFile /etc/letsencrypt/live/{{ www_domain }}/cert.pem
  SSLCertificateKeyFile /etc/letsencrypt/live/{{ www_domain }}/privkey.pem
  SSLCertificateChainFile /etc/letsencrypt/live/{{ www_domain }}/fullchain.pem
</VirtualHost>
{% endif %}

