[miscellany]
enable-auto-props = yes

[auto-props]
*.c          = svn:keywords=Date Author Id Revision Rev HeadURL; svn:mime-type=text/x-csrc; svn:eol-style=native
*.cpp        = svn:keywords=Date Author Id Revision Rev HeadURL; svn:mime-type=text/x-c++src; svn:eol-style=native
*.h          = svn:keywords=Date Author Id Revision Rev HeadURL; svn:mime-type=text/x-chdr; svn:eol-style=native
*.hpp          = svn:keywords=Date Author Id Revision Rev HeadURL; svn:mime-type=text/x-c++hdr; svn:eol-style=native
*.java       = svn:keywords=Date Author Id Revision Rev HeadURL; svn:mime-type=text/x-java; svn:eol-style=native
*.dsp        = svn:mime-type=text/plain; svn:eol-style=CRLF
*.dsw        = svn:mime-type=text/plain; svn:eol-style=CRLF

*.pl         = svn:keywords=Date Author Id Revision Rev HeadURL; svn:mime-type=text/x-perl; svn:eol-style=native; svn:executable
*.rb         = svn:keywords=Date Author Id Revision Rev HeadURL; svn:mime-type=text/x-ruby; svn:eol-style=native; svn:executable
*.py         = svn:keywords=Date Author Id Revision Rev HeadURL; svn:mime-type=text/x-python; svn:eol-style=native; svn:executable
*.sh         = svn:keywords=Date Author Id Revision Rev HeadURL; svn:mime-type=text/x-sh; svn:eol-style=native; svn:executable
*.js         = svn:keywords=Date Author Id Revision Rev HeadURL; svn:mime-type=text/javascript; svn:eol-style=native
*.php        = svn:keywords=Date Author Id Revision Rev HeadURL; svn:mime-type=text/x-php; svn:eol-style=native
*.cgi        = svn:keywords=Date Author Id Revision Rev HeadURL; svn-mine-type=text/plain; svn:eol-style=native
*.bat        = svn:keywords=Date Author Id Revision Rev HeadURL; svn-mine-type=text/plain; svn:eol-style=native
*.cmd        = svn:keywords=Date Author Id Revision Rev HeadURL; svn-mine-type=text/plain; svn:eol-style=native

.htaccess    = svn:mime-type=text/plain; svn:keywords=Date Author Id Revision Rev HeadURL; svn:eol-style=native
*.css        = svn:mime-type=text/css; svn:keywords=Date Author Id Revision Rev HeadURL; svn:eol-style=native
*.dtd        = svn:mime-type=text/xml; svn:keywords=Date Author Id Revision Rev HeadURL
*.html       = svn:mime-type=text/html; svn:keywords=Date Author Id Revision Rev HeadURL
*.ini        = svn:mime-type=text/plain; svn:keywords=Date Author Id Revision Rev HeadURL
*.sql        = svn:mime-type=text/x-sql; svn:keywords=Date Author Id Revision Rev HeadURL; svn:eol-style=native
*.txt        = svn:mime-type=text/plain; svn:keywords=Date Author Id Revision Rev HeadURL
*.xhtml      = svn:mime-type=text/xhtml+xml; svn:keywords=Date Author Id Revision Rev HeadURL
*.xml        = svn:mime-type=text/xml; svn:keywords=Date Author Id Revision Rev HeadURL
*.xsd        = svn:mime-type=text/xml; svn:keywords=Date Author Id Revision Rev HeadURL
*.xsl        = svn:mime-type=text/xml; svn:keywords=Date Author Id Revision Rev HeadURL
*.xslt       = svn:mime-type=text/xml; svn:keywords=Date Author Id Revision Rev HeadURL
*.xul        = svn:mime-type=text/xul; svn:keywords=Date Author Id Revision Rev HeadURL
*.yml        = svn:mime-type=text/plain; svn:keywords=Date Author Id Revision Rev HeadURL
CHANGES      = svn:mime-type=text/plain; svn:keywords=Date Author Id Revision Rev HeadURL; svn:eol-style=native
COPYING      = svn:mime-type=text/plain; svn:keywords=Date Author Id Revision Rev HeadURL; svn:eol-style=native
INSTALL      = svn:mime-type=text/plain; svn:keywords=Date Author Id Revision Rev HeadURL; svn:eol-style=native
Makefile*    = svn:mime-type=text/plain; svn:keywords=Date Author Id Revision Rev HeadURL; svn:eol-style=native
README       = svn:mime-type=text/plain; svn:keywords=Date Author Id Revision Rev HeadURL; svn:eol-style=native
TODO         = svn:mime-type=text/plain; svn:keywords=Date Author Id Revision Rev HeadURL; svn:eol-style=native

*.bmp        = svn:mime-type=image/bmp
*.gif        = svn:mime-type=image/gif
*.ico        = svn:mime-type=image/ico
*.jpeg       = svn:mime-type=image/jpeg
*.jpg        = svn:mime-type=image/jpeg
*.png        = svn:mime-type=image/png
*.tif        = svn:mime-type=image/tiff
*.tiff       = svn:mime-type=image/tiff

*.pdf        = svn:mime-type=application/pdf
*.avi        = svn:mime-type=video/avi
*.doc        = svn:mime-type=application/msword
*.eps        = svn:mime-type=application/postscript
*.gz         = svn:mime-type=application/gzip
*.mov        = svn:mime-type=video/quicktime
*.mp3        = svn:mime-type=audio/mpeg
*.ppt        = svn:mime-type=application/vnd.ms-powerpoint
*.ps         = svn:mime-type=application/postscript
*.psd        = svn:mime-type=application/photoshop
*.rtf        = svn:mime-type=text/rtf
*.swf        = svn:mime-type=application/x-shockwave-flash
*.tgz        = svn:mime-type=application/gzip
*.wav        = svn:mime-type=audio/wav
*.xls        = svn:mime-type=application/vnd.ms-excel
*.zip        = svn:mime-type=application/zip

