#cloud-config

hostname: {{ inventory_hostname }}
fqdn: {{ inventory_hostname }}
manage_etc_hosts: true
users:
{% if virtual_setup_user and virtual_setup_user!='' %}
  - name: {{ virtual_setup_user }}
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users, admin, sudo
    home: /home/{{ virtual_setup_user }}
    shell: /bin/bash
    lock_passwd: false
    ssh-authorized-keys: {{ lookup('file', root_dir+'/files/ssh-keys/'+virtual_setup_user).split('\n') }}
{% endif %}
{% for admin in admins | default([]) %}
  - name: {{ admin }}
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users, admin, sudo
    home: /home/{{ admin }}
    shell: /bin/bash
    lock_passwd: false
    ssh-authorized-keys: {{ lookup('file', root_dir+'/files/ssh-keys/'+admin).split('\n') }}
{% endfor %}
{% if ( sshd_password_auth | default("no") ) | bool %}
ssh_pwauth: true
{% else %}
ssh_pwauth: false
{% endif %}
disable_root: false
chpasswd:
{% if virtual_setup_user is defined and virtual_setup_user!='' %}
  list: |
     {{ virtual_setup_user }}:{{ virtual_setup_password }}
{% if virtual_root_password is defined and virtual_root_password!='' %}
     root:{{ virtual_root_password }}
{% endif %}
{% endif %}
  expire: False
packages:
  - qemu-guest-agent
final_message: "cloud-init after $UPTIME seconds"
user-adata:
  timezone: {{ virtual_preseed_timezone }}
{% if virtual_root_password is defined and virtual_root_password != '' and sshd_password_auth %}
write_files:
  - path: /etc/ssh/sshd_config.d/99-root-password-login.conf
    content: |
      PermitRootLogin yes
      PasswordAuthentication yes
runcmd:
  - systemctl restart ssh
{% endif %}
