# IPV4 only
ListenAddress 0.0.0.0

Port 22
Protocol 2
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_dsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key


RekeyLimit {{ sshd_rekey_limit | default('1G') }}

KexAlgorithms {{ sshd_kex_algorithms | default('sntrup761x25519-sha512@openssh.com,curve25519-sha256@libssh.org,curve25519-sha256,diffie-hellman-group-exchange-sha256,diffie-hellman-group16-sha512,diffie-hellman-group18-sha512') }}
Ciphers {{ sshd_ciphers | default('chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr') }}
MACs {{ sshd_macs | default('umac-128-etm@openssh.com,hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com') }}


SyslogFacility AUTH
LogLevel INFO

LoginGraceTime 60
StrictModes yes
MaxAuthTries {{ sshd_max_auth_tries | default(5) }}

IgnoreRhosts yes
HostbasedAuthentication no
ChallengeResponseAuthentication no
PasswordAuthentication no
KerberosAuthentication no
GSSAPIAuthentication no
PermitEmptyPasswords no

UsePAM no
PubkeyAuthentication yes
PermitRootLogin without-password
AuthorizedKeysFile	%h/.ssh/authorized_keys

X11Forwarding no
X11DisplayOffset 10
PrintMotd no
PrintLastLog yes
TCPKeepAlive yes
UseDNS no
ClientAliveInterval 300

#MaxStartups 10:30:60
MaxSessions {{ sshd_max_sessions | default(20) }}
 
Banner none
VersionAddendum none

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

Subsystem sftp /usr/lib/openssh/sftp-server
{{ sshd_append | default("") }}
