# IPV4 only
ListenAddress 0.0.0.0

Port 22
Protocol 2
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key


RekeyLimit {{ sshd_rekey_limit | default('1G') }}

{% if sshd_kex_algorithms | default(False) %}
KexAlgorithms {{ sshd_kex_algorithms }}
{% endif %}
{% if sshd_ciphers | default(False) %}
Ciphers {{ sshd_ciphers }}
{% endif %}
{% if sshd_macs | default(False) %}
MACs {{ sshd_macs }}
{% endif %}


SyslogFacility AUTH
LogLevel INFO

LoginGraceTime 60
StrictModes yes
MaxAuthTries {{ sshd_max_auth_tries | default(5) }}

IgnoreRhosts yes
HostbasedAuthentication no
ChallengeResponseAuthentication no
PasswordAuthentication no
KerberosAuthentication no
GSSAPIAuthentication no
PermitEmptyPasswords no

UsePAM {{ use_pam }}
PubkeyAuthentication yes
PermitRootLogin without-password
AuthorizedKeysFile	%h/.ssh/authorized_keys

X11Forwarding no
X11DisplayOffset 10
PrintMotd no
PrintLastLog yes
TCPKeepAlive yes
UseDNS no
ClientAliveInterval 300

MaxStartups {{ sshd_max_startups | default("10:30:100") }}
MaxSessions {{ sshd_max_sessions | default(20) }}
 
Banner none
VersionAddendum none

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

Subsystem sftp /usr/lib/openssh/sftp-server
{{ sshd_append | default("") }}
