# Thresholding:
#
# This feature is used to reduce the number of logged alerts for noisy rules.
# Thresholding commands limit the number of times a particular event is logged
# during a specified time interval.
#
# The syntax is the following:
#
# threshold gen_id <gen_id>, sig_id <sig_id>, type <limit|threshold|both>, track <by_src|by_dst>, count <n>, seconds <t>
#
# event_filter gen_id <gen_id>, sig_id <sig_id>, type <limit|threshold|both>, track <by_src|by_dst>, count <n>, seconds <t>
#
# suppress gen_id <gid>, sig_id <sid>
# suppress gen_id <gid>, sig_id <sid>, track <by_src|by_dst>, ip <ip|subnet>
#
# The options are documented at https://suricata.readthedocs.io/en/latest/configuration/global-thresholds.html
#
# Please note that thresholding can also be set inside a signature. The interaction between rule based thresholds
# and global thresholds is documented here:
# https://suricata.readthedocs.io/en/latest/configuration/global-thresholds.html#global-thresholds-vs-rule-thresholds

# Limit to 10 alerts every 10 seconds for each source host
#threshold gen_id 0, sig_id 0, type threshold, track by_src, count 10, seconds 10

# Limit to 1 alert every 10 seconds for signature with sid 2404000
#threshold gen_id 1, sig_id 2404000, type threshold, track by_dst, count 1, seconds 10

# Avoid to alert on f-secure update
# Example taken from https://blog.inliniac.net/2012/03/07/f-secure-av-updates-and-suricata-ips/

#SURICATA STREAM ESTABLISHED packet out of window
suppress gen_id 1, sig_id 2210020
#SURICATA STREAM reassembly overlap with different data
suppress gen_id 1, sig_id 2210050
#SURICATA STREAM excessive retransmissions
suppress gen_id 1, sig_id 2210054
#SURICATA zero length padN option
suppress gen_id 1, sig_id 2200094, track by_dst, ip ff02::16
#SURICATA TCP option invalid length
suppress gen_id 1, sig_id 2200036
#SURICATA STREAM FIN out of window
suppress gen_id 1, sig_id 2210038
#SURICATA TLS invalid record version
suppress gen_id 1, sig_id 2230015
#ET POLICY PE EXE or DLL Windows file download HTTP
suppress gen_id 1, sig_id 2018959
#SURICATA STREAM Packet with invalid ack
suppress gen_id 1, sig_id 2210045
#SURICATA STREAM TIMEWAIT ACK with wrong seq
suppress gen_id 1, sig_id 2210042
#SURICATA STREAM ESTABLISHED invalid ack
suppress gen_id 1, sig_id 2210029
#SURICATA TLS invalid record/traffic
suppress gen_id 1, sig_id 2230010
#SURICATA STREAM Packet with invalid timestamp
suppress gen_id 1, sig_id 2210044
#SURICATA STREAM CLOSEWAIT FIN out of window
suppress gen_id 1, sig_id 2210016
#SURICATA TLS error message encountered
suppress gen_id 1, sig_id 2230009
#SURICATA STREAM Last ACK with wrong seq
suppress gen_id 1, sig_id 2210039
#SURICATA TLS invalid handshake message
suppress gen_id 1, sig_id 2230003
#SURICATA ICMPv4 invalid checksum
suppress gen_id 1, sig_id 2200076, track by_src, ip 8.8.8.8
#SURICATA ICMPv4 invalid checksum
suppress gen_id 1, sig_id 2200076, track by_src, ip 8.8.4.4
#SURICATA HTTP response field missing colon
suppress gen_id 1, sig_id 2221020
#SURICATA DNS Unsolicited response
suppress gen_id 1, sig_id 2240001, track by_src, ip 8.8.8.8
#SURICATA HTTP unable to match response to request
suppress gen_id 1, sig_id 2221010
#SURICATA STREAM SHUTDOWN RST invalid ack
suppress gen_id 1, sig_id 2210046

#SURICATA Applayer Detect protocol only one direction
suppress gen_id 1, sig_id 2260002

#ET INFO Observed DNS Query to .cloud TLD
suppress gen_id 1, sig_id 2027865

# mozu indikovat performance problem
#SURICATA STREAM pkt seen on wrong thread
#SURICATA STREAM ESTABLISHED SYN resend
#SURICATA STREAM 3way handshake wrong seq wrong ack
threshold gen_id 1, sig_id 2210010, type limit, track by_src, count 1, seconds 60
threshold gen_id 1, sig_id 2210026, type limit, track by_src, count 1, seconds 60
threshold gen_id 1, sig_id 2210023, type limit, track by_src, count 1, seconds 60

# SURICATA STREAM ESTABLISHED SYN resend with different seq
threshold gen_id 1, sig_id 2210027, type limit, track by_src, count 5, seconds 60

# SURICATA STREAM FIN invalid ack
threshold gen_id 1, sig_id 2210030, type limit, track by_src, count 5, seconds 60

# ET POLICY SMB2 NT Create AndX Request For a DLL File - Possible Lateral Movement"]
threshold gen_id 1, sig_id 2025709, type limit, track by_src, count 5, seconds 60
# ET POLICY SMB2 NT Create AndX Request For an Executable File
threshold gen_id 1, sig_id 2025701, type limit, track by_src, count 5, seconds 60

# ET INFO Session Traversal Utilities for NAT (STUN Binding Request)
threshold gen_id 1, sig_id 2016149, type limit, track by_src, count 3, seconds 60

# ET POLICY SMB2 NT Create AndX Request For a .sys File - Possible Lateral Movement
threshold gen_id 1, sig_id 2025711, type limit, track by_src, count 5, seconds 60

# GPL SNMP public access udp
threshold gen_id 1, sig_id 2101411, type limit, track by_src, count 3, seconds 60

### XXX: site-specifi thresholds
{{ suricata_threshold | default("") }}
